@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Be+Vietnam+Pro:ital,wght@0,400;0,600;0,700;1,300&family=IBM+Plex+Mono&display=swap');

/*Font Families*/
/*font-family: 'Aboreto', cursive;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'IBM Plex Mono', monospace;*/

/*Nav Bar*/
.title {
	font-family: 'Aboreto', cursive;
	font-size: 3rem;
	padding-left: 1rem;
	padding-top: 1rem;
}
.nav-list {
	font-family: 'Be Vietnam Pro', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 2rem;
}

.nav-item {
	padding:0  10px;
}

.banner {
	max-width: 100vw;
	max-height: 1000px;
}
.banner {
	background-image: url('./images/ddp.jpg');
	background-repeat: no-repeat;
	max-width: 100%;
}

.company-logo {
	padding-top: 100px;
	color: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	border: 1px solid #facc15;
	border-radius: 5px;
}
.company-logo h3 {
	font-family: 'Aboreto', cursive;
	font-size:2.5rem;
	padding: 1.125rem;
}

.banner p {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 1.25rem;
	margin: 10px;
}